@import "../../styles/const";

.user {
  padding-top: 50px;
  .backToSearch {
	p {
	  font-size: 20px;
	  line-height: 24px;
	  margin-bottom: 40px;
	}
  }
  .userContainer {
	margin-bottom: 120px;
	border-radius: 10px;
	padding: 20px;
	background: var(--background-active);
	.menu {
	  cursor: pointer;
	  width: 200px;
	  padding: 10px;
	  border-radius: 5px;
	  
	  p {
		position: relative;
		margin-left: 25px;
		font-weight: 300;
		font-size: 15px;
		
		&:before {
		  content: " ";
		  position: absolute;
		  left: -20px;
		  top: 5px;
		  width: 10px;
		  height: 10px;
		  border-radius: 100%;
		  background-color: var(--primary);
		}
	  }
	  
	  &.active {
		background-color: var(--primary);
		color: black;
		
		p {
		  &:before {
			background-color: var(--background-active);
		  }
		}
	  }
	}
	.signOut {
	  font-weight: 300;
	  font-size: 15px;
	  line-height: 18px;
	  opacity: 0.5;
	  margin: 20px 35px;
	}
  }
  .userProfile {
	border-radius: 10px;
	color: var(--text-color);
	text-align: center;
	padding: 12px;
	background: #0E0D0C;
	.profileImg {
	  background: center / contain no-repeat url("/images/serials/user.png");
	  border: 3px solid var(--primary);
	  position: relative;
	  margin: 15px auto;
	  width: 111px;
	  height: 111px;
	  border-radius: 50%;
	}
	.userName{
	  padding-bottom: 40px;
	  img {
		margin-top: 5px;
		vertical-align: middle;
	  }
	  span {
		padding-left: 5px;
		font-weight: 300;
		font-size: 10px;
		letter-spacing: 0.04em;
		line-height: 150%;
		color: #FFBE2E;
	  }
	}
	.newSeries {
	  text-align: left;
	  margin-bottom: 10px;
	}
	.newSeriesIcon {
	  color: var(--primary);
	  font-size: 20px;
	  cursor: pointer;
	}
	.remindMe {
	  display: block;
	  margin-bottom: 30px;
	  text-align: left;
	  line-height: 14px;
	  font-size: 12px;
	  letter-spacing: 0.02em;
	  font-weight: 300;
	  opacity: 0.5;
	}
	.remindCard {
	  border-radius: 5px;
	  margin-bottom: 15px;
	  .remindCardImg {
		background: var(--background-active);
		img {
		  height: 100%;
		  width: 100%;
		}
	  }
	  .remindCardTitle {
		padding: 15px 5px;
		background: #242424;
		h4 {
		  font-size: 15px;
		  text-align: left;
		}
		.date {
		  padding: 10px 0;
		  color: var(--primary);
		  font-size: 11px;
		}
		.serie {
		  padding: 10px 0;
		  font-weight: 300;
		  font-size: 11px;
		  opacity: 0.5;
		}
	  }
	}
	.notifications {
	  h3 {
		margin-top: 40px;
		margin-bottom: 20px;
		text-align: left;
	  }
	  
	  .notificationCount {
		display: inline-block;
		margin-top: 44px;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		text-align: left;
		color: var(--primary);
	  }
	  .notificationsBlock {
		position: relative;
		margin-bottom: 10px;
		text-align: left;
		background: #242424;;
		padding: 10px;
		border-radius: 10px;
		.myComment {
		  position: relative;
		  p {
			font-weight: 600;
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.02em;
			color: var(--primary);
		  }
		  .notificationsIcon {
			position: absolute;
			color: var(--text-color);
			font-size: 7px;
			bottom: 2px;
			right: 2px;
			z-index: 99;
		  }
		}
		h4 {
		  font-size: 15px;
		  line-height: 18px;
		  letter-spacing: 0.02em;
		  margin-bottom: 15px;
		}
		
		.activeDot {
		  position: absolute;
		  width: 13px;
		  height: 13px;
		  background: var(--primary);
		  border-radius: 50%;
		  z-index: 99;
		  right: -2px;
		  top: -2px;
		}
	  }
	  .openNew {
		p {
		  font-weight: 300;
		  font-size: 12px;
		  line-height: 150%;
		  text-align: left;
		  letter-spacing: 0.04em;
		  text-decoration-line: underline;
		  
		  color: #FFFFFF;
		  
		  opacity: 0.5;
		}
	  }
	}
  }
}
.footer {
  background: var(--background-active);
}